/*FORMS*/
.form {
  background-color: var(--form-bg);
  border: 1px solid var(--accent);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 20px 5px;
}

/*FORM LABEL*/
label {
  font-size: 0.9rem;
}

/*INPUT FIELDS*/
.inputField {
  background-color: var(--input-bg);
  color: var(--input-color);
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--border);
  font-size: 1rem;
  transition: 0.3s;
}
.inputField:focus {
  border-color: var(--color);
}
.inputField.error {
  border-color: red;
}

/*SINGLE INPUT FIELD*/
.singleInput {
  display: flex;
  gap: 6px;
  width: 100%;
  padding: 5px;
}
.singleInput .inputField {
  flex: 1;
}
.singleInput .btn {
  padding: 12px 5px;
}
/*BUTTONS*/
.btn {
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.btn-primary {
  color: #fff;
  background: var(--primary);
}

.btn-secondary {
  background: var(--secondary);
  color: #000;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  color: var(--bg);
}
.btnDisabled:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/*CARDS*/
.card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 1px solid var(--border);
}

