/*FORMS*/
.form {
  background-color: var(--form-bg);
  border: 1px solid var(--accent);
  background: var(--form-bg);
  border-radius: var(--radius);

  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  gap: 15px;
  margin: auto;
  padding: 20px;
  width: 95%;
  max-width: 500px;
  border-radius: 8px;
}

/*FORM LABEL*/
label {
  font-size: 0.9rem;
}

/*INPUT FIELDS*/
.inputField,
select {
  background-color: var(--input-bg);
  color: var(--input-color);
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--border);
  font-size: 1rem;
  transition: 0.3s;
}
.textArea {
  min-height: 150px;
  max-width: 100%;
  max-height: 200px;
}
.inputField:focus {
  border-color: var(--color);
  background-color: var(--bg);
}
.inputField.error {
  border-color: red;
}

/*================= 
PERSONAL LOGGED TASK SECTION
===================*/

/*PERSONAL INPUT CONTAINER IN DASHBOARD*/
.container {
  width: 100%;
  margin: 20px 0;
}
.personalLogInputContainer {
  max-width: 0;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-radius: 12px;
  transition:
    max-height 1s ease,
    max-width 1s ease,
    padding 1s ease;
}
.expand {
  max-width: 700px;
  max-height: 600px;
  padding: 20px;
  border: 1px solid #6a5acd;
}
.expand label {
  color: #ffffff;
  font-size: 0.9rem;
}

/* LOG LIST */
.logs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

/* Workspace list card*/
.workspaceCard details {
  margin-bottom: var(--space-md);
}
.workspaceCard details summary {
  font-size: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.workspaceCard details:hover {
  border: 1px solid var(--color);
}
.workspaceCard details summary::before {
  background-color: none;
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.2s ease;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='4,3 10,8 4,13' fill='none' stroke='%23FFFFFF' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.workspaceCard details[open] summary::before {
  transform: rotate(90deg);
}

/* LOG ITEM */
details {
  background: var(--card-bg);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 12px;
  transition: 0.3s;
}
details:hover {
  border: 1px #4b4bff solid;
}
details summary span.personalTaskName::before {
  background-color: transparent;
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.2s ease;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='4,3 10,8 4,13' fill='none' stroke='%23FFFFFF' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
details[open] summary span.personalTaskName::before {
  transform: rotate(90deg);
}

details span:nth-child(2) {
  background-color: var(--bg);
  padding: 8px;
  border-radius: 4px 8px;
  margin-top: 5px;
  display: block;
  width: fit-content;
  cursor: text;
}
details p {
  margin-top: 10px;
  color: #cfcfcf;
  line-height: 1.5;
  text-align: left;
}
details[open] {
  border-color: #4b4bff;
  background: var(--form-bg);
}
details[open] .deleteBtn {
  background-color: #1c1c1c;
}
summary {
  padding: 2px 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteBtn {
  background-color: #000000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.852);
  transition:
    color 0.4s ease,
    background-color 0.5s ease,
    transform 0.4s ease;
  position: relative;
  cursor: pointer;
}
.deleteBtn.tooltip::after {
  background: red;
}
/* Tooltip bubble */
.tooltip::after {
  content: attr(data-title);
  position: absolute;
  left: -100%;
  top: -80%;
  transform: translateX(-50%);
  color: #fff;
  padding: 8px 12px;
  border-radius: 60px 60px 0 60px;
  font-size: 14px;
  line-height: 1.3;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  transform-origin: top;
  z-index: 9999;
}

/* Tooltip arrow */
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 6px solid transparent;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show on hover */
.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.deleteBtn:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 0);
}
.deleteBtn svg {
  width: 25px;
  height: 25px;
}

#personalCreatedLogs {
  margin: 10px 0 50px;
}
/* When a log is added */
.taskContainer {
  opacity: 0;
  transform: translateY(-6px);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.taskContainer.show {
  opacity: 1;
  transform: translateY(0);
}

/* When a log is deleted */
.taskContainer.removing {
  opacity: 0;
  transform: translateY(-6px);
}

.placeholderText, .commonPlaceholderText {
  text-align: center;
  opacity: 0.6;
  margin-top: 20px;
}

/*SINGLE INPUT FIELD*/
.singleInput {
  display: flex;
  gap: 6px;
  width: 100%;
  padding: 5px;
}
.singleInput .inputField {
  flex: 1;
}
.singleInput .btn {
  padding: 12px 5px;
}
/*BUTTONS*/
.btn {
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
@media (max-width: 600px) {
  .btn {
    width: 100%;
    margin: 5px 0;
  }
}
#toggleInputContainer {
  margin-top: 10px;
}
.btn-primary {
  color: #fff;
  background: var(--primary);
}

.btn-secondary {
  background: var(--secondary);
  color: #000;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  color: var(--bg);
}

.btnDisabled:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/*CARDS*/
.card {
  background: var(--card-bg);
  padding: 20px;
  margin: var(--space-sm) 0;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 1px solid var(--border);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-2px);
}

/*MODAL CONTAINER*/
.modalContainer {
  position: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px) brightness(90%);
}
.modalContainer form {
  z-index: 9999;
}
.modalContainer form select option {
  background: var(--bg);
}

.statNum {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 600px) {
  #statsContainer {
    gap: 1px;
    grid-template-columns: 1fr 1fr;
  }
  #statsContainer .card {
    display: grid;
  }
  #statsContainer .card h3 {
    order: 2;
  }
  #statsContainer .card h3 {
    font-size: clamp(0.6rem, 3vw, 0.8rem);
  }
}
