body {
  overflow: hidden;
}
#workspaceTitle {
  position: relative;
  text-align: center;
  border-radius: var(--radius);
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 10px;
}

.navBtn {
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--radius);
  background: var(--navBtn-bg);
  border: 1px solid var(--border);
  color: var(--color);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navBtn:hover {
opacity: 0.6; 
 color: white;
}


/* GLOBAL SCROLLBAR */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--card-bg);
}

/* CHROME, EDGE, SAFARI */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
  border-radius: var(--radius);
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius);
  border: 2px solid var(--card-bg);
}

*::-webkit-scrollbar-thumb:hover {
  background: #0393d6; /* slightly brighter primary */
}
.role {
  font-size: 0.8rem;
  color: #ffffff;
  background: var(--secondary);
  position: absolute;
  top: 0;
  border-radius: var(--radius);
  padding: 2px;
}