.main {
   display: grid;
   grid-template-columns: minmax(200px, 300px) 1fr;
   grid-template-areas: 
   "header header"
   "sidebar mainContent"
   "footer footer";
   width: 100%;
   height: 100%;
   gap: 5px ;
   padding-top: 10px;
   position: relative;
   bottom: 0;
}
.mainContent {
   position: relative;
   grid-area: mainContent;
   background: var(--mainContent-bg);
   border-radius: var(--radius);
   border: 1px solid var(--border);
   padding: var(--space-sm) var(--space-sm) 20px;
   overflow: auto;
   height: 100dvh;
}
.sidebarContainer {
   grid-area: sidebar;
  background: var(--card-bg);
  height: 100%;
  border-radius: var(--radius);
  padding-top: 10px;
  
}
#sidebar {
   height: 100%;
   width: 100%;
   padding-top: 15px;
}
#sidebar a:hover {
   text-decoration: none;
}


@media (max-width: 800px) {
   .main {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header header"
      "mainContent mainContent";
      gap: 0;
      padding: 0;
      max-height: 95%;
   }

   .sidebarContainer {
      z-index: 3;
      width: 80%;
      max-width: 300px;
      transform: translateX(-100%);
      transition: 0.4s;
      position: fixed;
   }
   .sidebarContainer.show {
      transform: translateX(0);
   }
}