.main {
   display: grid;
   grid-template-columns: minmax(200px, 300px) 1fr;
   width: 100%;
   height: 100%;
gap: 10px;
padding: 10px;
}
.mainContent {
   position: relative;

   /*Try: center modals*/
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   
   background: var(--mainContent-bg);
   border-radius: var(--radius);
   border: 1px solid var(--border);
   height: 100%;
   overflow: auto;
   padding: 15px 15px 20px;
}
.sidebarContainer {
  background: var(--card-bg);
  height: 100%;
  border-radius: var(--radius);
  padding-top: 10px;
}
#sidebar {
   height: 100%;
   width: 100%;
   padding-top: 15px;
}
#sidebar a:hover {
   text-decoration: none;
}
@media (max-width: 800px) {
   .main {
      grid-template-columns: 1fr;
      gap: 0;
      padding: 0;
      max-height: 95%;
   }
   .sidebarContainer {
      z-index: 3;
      width: 80%;
      max-width: 300px;
      transform: translateX(-100%);
      transition: 0.4s;
      position: absolute;
   }
   .sidebarContainer.show {
      transform: translateX(0);
   }
}