/* GLOBAL SCROLLBAR */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--card-bg);
}

/* CHROME, EDGE, SAFARI */
.mainContent::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.mainContent::-webkit-scrollbar-track {
  background: var(--card-bg);
  border-radius: var(--radius);
}

.mainContent::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius);
  border: 2px solid var(--card-bg);
}

.mainContent::-webkit-scrollbar-thumb:hover {
  background: #0393d6; /* slightly brighter primary */
}

.pageHeader {
  background: var(--header-bg);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 10px;
}
.headerLeft {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

/*NAVICATION ICON SVG*/
.navIcon svg,
.menuIcon svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
}

/*SIDEBAR TOGGLE MENU ICON*/
.menuBtn {
  padding: 4px 8px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: var(--radius);
  background: linear-gradient(145deg, var(--navBtn-bg), var(--bg));
  border: 1px solid var(--border);
  color: var(--color);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}
.menuBtn:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {
   .menuBtn {
      display: none;
   }
}

.hide {
  display: none;
}

.closed {
  opacity: 0.6;
  cursor: not-allowed;
}