<div class="modalContainer">
   <form class="form" id="WorkspaceCreationForm">
      <h2 class="pageTitle">Create workspace</h1>
      <label for="workspacename">Workspace Name</label>
         <input type="text" class="inputField" id="workspacename" placeholder="e.g. Marketing Team" required>
         <label for="workspaceDescription">Workspace Description</label>
         <textarea placeholder="e.g. Marketing Team for the LogHue Project..." name="workspaceDescription" id="workspaceDescription" class="inputField textArea" required></textarea>
         <button type="button" class="btn btn" id="createWorkspace">Create Workspace</button>
      </div>
   </form>
</div>