<div class="modalContainer">
     
<!--CLOSE BUTTON-->
<svg 
class="closeModalBtn "
  xmlns="http://www.w3.org/2000/svg"
  width="22"
  height="22"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1.7"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <rect
    x="3.5"
    y="3.5"
    width="17"
    height="17"
    rx="6"
    ry="6"
    fill="currentColor"
    opacity="0.06"
  />
  <path d="M9 9l6 6M15 9l-6 6" />
</svg>


  <form id="logTaskForm">
    <h2>Log Task</h2>
    <label for="taskLogText">Task Completed</label>
    <input
      placeholder="e.g. Fixed API bug"
      type="text"
      class="inputField"
      id="taskLogText"
      required
    />

    <label for="taskLogTime">Date Completed</label>
    <input type="datetime-local" id="taskLogTime" class="inputField" required />

    <label for="taskLogStatus">Status</label>
    <select name="taskLogStatus" id="taskLogStatus">
      <option value="progress">Progress</option>
      <option value="completed">Completed</option>
    </select>

    <label for="taskLogNote">Note</label>
    <textarea
      id="taskLogNote"
      placeholder="Add details about what you finished…"
      class="inputField textArea"
      required
    ></textarea>

    <button id="logTask" class="btn">Submit</button>
  </form>
</div>
