  <div class="modalContainer">

 
 <!--SIGNUP FORM-->
       <form class="form" id="LoginForm">

           <!--CLOSE BUTTON-->
<svg 
class="closeModalBtn "
  xmlns="http://www.w3.org/2000/svg"
  width="22"
  height="22"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1.7"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <rect
    x="3.5"
    y="3.5"
    width="17"
    height="17"
    rx="6"
    ry="6"
    fill="currentColor"
    opacity="0.06"
  />
  <path d="M9 9l6 6M15 9l-6 6" />
</svg>



         <h2>Signup</h2>
         <label for="userSignupNameInput">Full Name</label>
         <input type="email" name="userSignupNameInput" id="userSignupNameInput" class="inputField" placeholder="e.g. Abdulroqib Oladipo" required>
         <label for="userSignupEmailInput">Email</label>
         <input type="email" name="userSignupEmailInput" id="userSignupEmailInput" class="inputField" placeholder="e.g. example@gmail.com" required>
         <label for="userSignupPasswordInput">Password</label>
         <input type="password" name="userSignupPasswordInput" id="userSignupPasswordInput" class="inputField" placeholder="Create a password for your account" required>
        <label for="userSignupConfirmPasswordInput">Confirm Password</label>
         <input type="password" name="userSignupConfirmPasswordInput" id="userSignupConfirmPasswordInput" class="inputField" placeholder="Confirm your password" required>
         <button type="button" class="btn btn-primary" id="signupBtn">Login</button>
         <p class="commonPlaceholderText show">Have an account? <a href="#loginForm">Login</a></p>
      </form>

  </div>